<section
    class="hero-wrap hero-wrap-2"
    style="background-image: url('/images/bg_4.jpg')"
    data-stellar-background-ratio="0.5"
>
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Khuyến mãi</h1>
                <p class="breadcrumbs">
                    <span class="mr-2"
                        ><a href="/">Trang chủ <i class="ion-ios-arrow-forward"></i></a
                    ></span>
                    <span>Khuyến mãi</span>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 menu-wrap">
                <div class="menus d-flex ftco-animate">
                    <div class="mr-4">
                        <img src="/images/bg_1.jpg" width="100px" height="100px" class="responsive-img" />
                    </div>
                    <div class="text">
                        <div class="d-flex">
                            <div class="one-half">
                                <h2 class="responsive-header">Discount</h2>
                            </div>
                            <div class="one-forth">
                                <h3><button class="btn btn-primary" type="submit">Lưu</button></h3>
                            </div>
                        </div>
                        <div>
                            <p>
                                <span style="padding: 4px 8px; color: red; border: 1px solid"> Khách hàng vàng </span>
                            </p>
                            <p>
                                <span>Giảm 200k</span>
                            </p>
                            <p><span>Bắt đầu</span></p>
                            <p><span>Kết thúc</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 menu-wrap">
                <div class="menus d-flex ftco-animate">
                    <div class="mr-4">
                        <img src="/images/bg_1.jpg" width="100px" height="100px" class="responsive-img" />
                    </div>
                    <div class="text">
                        <div class="d-flex">
                            <div class="one-half">
                                <h2 class="responsive-header">Discount</h2>
                            </div>
                            <div class="one-forth">
                                <h3><button class="btn btn-primary" type="submit">Lưu</button></h3>
                            </div>
                        </div>
                        <div>
                            <p>
                                <span style="padding: 4px 8px; color: red; border: 1px solid"> Khách hàng vàng </span>
                            </p>
                            <p>
                                <span>Giảm 200k</span>
                            </p>
                            <p><span>Bắt đầu</span></p>
                            <p><span>Kết thúc</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 menu-wrap">
                <div class="menus d-flex ftco-animate">
                    <div class="mr-4">
                        <img src="/images/bg_1.jpg" width="100px" height="100px" class="responsive-img" />
                    </div>
                    <div class="text">
                        <div class="d-flex">
                            <div class="one-half">
                                <h2 class="responsive-header">Discount</h2>
                            </div>
                            <div class="one-forth">
                                <h3><button class="btn btn-primary" type="submit">Lưu</button></h3>
                            </div>
                        </div>
                        <div>
                            <p>
                                <span style="padding: 4px 8px; color: red; border: 1px solid"> Khách hàng vàng </span>
                            </p>
                            <p>
                                <span>Giảm 200k</span>
                            </p>
                            <p><span>Bắt đầu</span></p>
                            <p><span>Kết thúc</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 menu-wrap">
                <div class="menus d-flex ftco-animate">
                    <div class="mr-4">
                        <img src="/images/bg_1.jpg" width="100px" height="100px" class="responsive-img" />
                    </div>
                    <div class="text">
                        <div class="d-flex">
                            <div class="one-half">
                                <h2 class="responsive-header">Discount</h2>
                            </div>
                            <div class="one-forth">
                                <h3><button class="btn btn-primary" type="submit">Lưu</button></h3>
                            </div>
                        </div>
                        <div>
                            <p>
                                <span style="padding: 4px 8px; color: red; border: 1px solid"> Khách hàng vàng </span>
                            </p>
                            <p>
                                <span>Giảm 200k</span>
                            </p>
                            <p><span>Bắt đầu</span></p>
                            <p><span>Kết thúc</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
