<section class="py-4 my-4">
  <div class="container">
    <a href="/menu"><i class="far fa-long-arrow-alt-left"></i> Tiếp tục mua hàng
    </a>
    <div class="cart mt-4 bg-white shadow rounded p-3"></div>
    <div class="checkout"></div>
  </div>
</section>
<script src="/js/cart/cart-guest.js"></script>
<script>

</script>